body{
    background: #F6F6F6;
}

.fixtop{
    width:100%;height:50px;
    background:#fff;
    border-bottom:2px solid #F10214;
    position:fixed;
    left:0;top:-50px;
    z-index: 999;
    transition: all 1s;
}

.fixtopbox{
    width:1190px;height:100%;
    margin:0 auto;
    position:relative;
}

.fixtop img{
    display:block;
    width:125px;height:40px;
    position: absolute;
    left:0;
    top:4px;
}

.fixtopsearch{
    width:550px;height:35px;
    position:absolute;
    left:320px;
    top:0;bottom:0;
    margin:auto;
}

.fixtopsearch .text{
    width:500px;height:35px;
    font-size:14px;
    line-height:35px;
    padding:4px;
    float:left;
    background:#EFEFEF;
}

div.icon-zhaoxiangji{
    width:18px;height:16px;
    font-size:21px;
    position:absolute;
    top:0;bottom:0;
    left:466px;
    margin:auto;
}

div.icon-zhaoxiangji:hover{
    color:red;
}

div.fixsearch{
    width:50px;height:35px;
    background:#F10215;
    font-size:26px;
    font-weight:700;
    color:#fff;
    float:right;
    text-align:center;
    line-height:35px;
}

.picture{
    width: 100%;
    height: 80px;
    background: #98E3CE url(../img/picture.jpg) center center no-repeat;
    background-size: 1190px 80px;
}

.topbar{
    width: 100%;
    height: 31px;
    background: #e3e4e5;
    border-bottom: 1px solid #ddd;
}

.topbar-box{
    width: 1190px;
    height: 100%;
    margin:0 auto;
}

.topbar-box-left{
    width: 257.56px;
    height: 100%;
    float: left;
}

.topbar-box-left-right{
    width: 58.56px;
    height: 30px;
    float: right;
    padding: 0 7px;
    font-size: 12px;
    color: #B7A2AC;
    line-height: 30px;
    border: 1px solid #E3E4E5;
    position: relative;
}

.topbar-box-left-right-hide{
    width: 300px;
    position: absolute;
    left:-1px;
    top:29px;
    border: 1px solid gray;
    z-index: 20;
    padding: 5px;
    background: #fff;
    display: none;
}

ul.topbar-box-left-right-hide:after{
    content: "";
    display: block;
    width: 56px;
    height: 1px;
    position: absolute;
    left:0;
    top:-1px;
    background: #fff;
}

ul.topbar-box-left-right-hide li{
    width: auto;
    padding: 2px 0;
    float: left;
    margin-right: 15px;
}

ul.topbar-box-left-right-hide li a{
    width: auto;
    height: 26px;
    padding: 0 8px;
    float: left;
    text-align: center;
    line-height: 26px;
}

ul.topbar-box-left-right-hide li:nth-child(5n){
    margin-right: 0;
}

ul.topbar-box-left-right-hide li:first-child a{
    color: #fff;
    background: #f10215;
}

ul.topbar-box-left-right-hide li:not(.beijing) a:hover{
    background: #EDEDED;

}

.topbar-box-left-right .iconfont{
    font-size: 20px;
    line-height: 30px;
    color: #F10215;
    float: left;
}

.topbar-box-left-right a{
    display: block;
    width: 58.55px;
    height: 100%;
}

.topbar-box-left-right:hover{
    background: #fff;
    border: 1px solid #999999;
    border-bottom: 0 solid;
}

.topbar-box-left-right:hover .topbar-box-left-right-hide{
    display: block;
}

ul.topbar-box-right{
    height: 30px;
    float: right;
    font-size: 11px;
    color: #B7A2AC;
    line-height: 30px;
}

ul.topbar-box-right>li{
    line-height: 30px;
    float: left;
    text-align: center;
    padding: 0 9px;
    position: relative;
}

ul.topbar-box-right li>a{
    color: #B7A2AC;
}

ul.topbar-box-right li a:hover{
    color: #D0165E;
}

ul.topbar-box-right li .iconfont{
    font-size: 9px;
    float: right;
    line-height: 30px;
    margin-left: 4px;
}

ul.topbar-box-right li.line{
    width: 1px;
    height: 10px;
    background: #B7A2AC;
    float: left;
    padding: 0;
    margin-top: 10px;
}

ul.topbar-box-right li .border-box{
    padding: 0 6px;
    line-height: 28px;
    border: 1px solid #e3e4e5;
    margin: 0;
}

ul.topbar-box-right li:nth-child(5):hover .border-box{
    border:1px solid #CCCCCC;
}

ul.topbar-box-right li:nth-child(11):hover .border-box{
    border:1px solid #CCCCCC;
}

ul.wdjd-hide{
    width: 280px;
    position: absolute;
    left: 9px;
    top:29px;
    background: #fff;
    border:1px solid #CCCCCC;
    z-index: 20;
    padding-top: 5px;
    display: none;

}

ul.wdjd-hide li{
    font-size: 12px;
    width: 70px;
    float: left;
    margin: -6px 52px 5px 15px;
    text-align: left;
}

ul.wdjd-hide li.spacer{
    width: 100%;
    height: 1px;
    background: #e3e4e5;
    position: absolute;
    left: -15px;
    top: 90px;
}

ul.topbar-box-right li:nth-child(5):hover .wdjd-hide{
    display: block;
}

ul.topbar-box-right li:nth-child(11):hover .wdjd-hide{
    display: block;
}

.wdjd-hide:after{
    content: "";
    display: block;
    width: 68px;
    height: 1px;
    position: absolute;
    left:0;
    top:-1px;
    background: #fff;
}

.mobile_static_qrcode-box{
    width: 68px;
    height: 68px;
    position: absolute;
    left: 3px;
    border: 1px solid #cfcfcf;
}

.mobile_static_qrcode{
    width: 60px;
    height: 60px;
    background: url(../img/mobile_qrcode.jpg) 50% no-repeat;

    margin:4px auto;
    position: relative;
}

.mobile_static_qrcode:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style:dashed dashed solid;
    border-color:transparent transparent #fff;
    position: absolute;
    left: 0;
    right:0;
    top: -13px;
    margin:auto;
}

header{
    width: 1190px;
    height: 140px;
    margin: 0 auto;
    position: relative;
}

.logo{
    width: 190px;
    height: 170px;
    background: #fff url(../img/logo.png) center center no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    bottom:0;
}

.search-box{
    width: 100%;
    height: 60px;
    padding: 25px 100px 0 320px;
}

.search{
    width: 550px;
    height: 35px;
    float: left;
}

.search-input{
    width:500px;
    height: 35px;
    border:1px solid #F10215;
    float: left;
    padding-left: 10px;
}

.search .iconfont{
    width: 50px;
    height: 35px;
    background: #F10215;
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
}

.gouwuche{
    width: 190px;
    height: 35px;
    float: right;
    background: #fff;
    border:1px solid #E3E4E5;
    font-size: 12px;
    font-weight: bold;
    color: #F10214;
    line-height: 35px;
    text-align: center;
    padding: 0 33px 0 53px;
}

.gouwuche span{
    float: left;
}

.gouwuche .iconfont{
    float: left;
    margin-right: 5px;
}

.number{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F10215;
    font-size: 9px;
    color: #fff;
    text-align: center;
    line-height: 14px;
    float: right;
    margin-top: 5px;
}

ul.hotwords{
    width: 550px;
    height: 20px;
    margin: 0 auto;
    margin-top: 5px;
}

ul.hotwords li{
    height: 20px;
    font-size: 11px;
    color: #999999;
    float: left;
    margin-right: 10px;
}

ul.hotwords li a{
    color: #999999;
}

ul.hotwords li:first-child a{
    color: #F10215;
}

ul.hotwords li a:hover{
    color: #D0165E;
}

.nav-items{
    width: 790px;
    height: 40px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    line-height: 40px;
    margin-top: 15px;
}

.nav-items li{
    float: left;
    margin-left: 30px;
}

.nav-items li a{
    color: #555555;
}

.nav-items li a:hover{
    color:#E01222;
}

.nav-items li.line{
    width: 1px;
    height: 10px;
    background: #B7A2AC;
    float: left;
    padding: 0;
    margin-left: 15px;
    margin-top: 15px;
}

.nav-items li:nth-child(6){
    margin-left: 15px;
}

.nav-items li:last-child{
    margin-left: 15px;
}

.banner-box{
    width: 1190px;
    height: 480px;
    margin: 0 auto;
}

ul.banner-box-left{
    width: 190px;
    height:480px;
    margin-right: 10px;
    background: #6E6568;
    padding: 15px 0;
    float: left;
}

ul.banner-box-left>li{
    width: 100%;
    height: 30px;
    padding-left: 12px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    position:relative;
}

ul.banner-box-left>li>a{
    color: #fff;
}

ul.banner-box-left>li:hover{
    background: #999395;
}


ul.banner-box-left>li>a:hover{
    color: #C81623;
}

.banner_more{
    width:1000px;
    height:480px;
    background:#fff;
    padding:20px 0 10px;
    position:absolute;
    left:190px;top:-15px;
    z-index:100;
    /*overflow:hidden;*/
    display:none;
}

.banner_more_left{
    width:800px;
    float:left;
}

.banner_more_left_top{
    width:100%;
    height:auto;
    overflow:hidden;
}

.banner_more_left_top_list1{
    height:24px;
    padding-left:20px;
    overflow:hidden;
    float:left;
}

.banner_more_left_top_list1 a{
    display:block;
    height:24px;
    line-height:24px;
    padding:0 10px;
    margin-right:10px;
    background:#6e6568;
    font-size:12px;
    color:#fff;
    float:left;
}

.banner_more_left_top_list1 div.iconfont{
    font-size:12px;
    line-height:24px;
    color:#fff;
    float:right;
    margin-left:5px;
}

.banner_more_left_bottom{
    padding:10px 0 0 20px;
    overflow:hidden;
}

.banner-more-con{
    position: relative;
    padding-left: 80px;
    overflow:hidden;
}

.banner-more-title {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 3px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.banner-more-title a{
    margin-left:5px;
    color:#666;
}

.banner-more-title div.icon-sanjiao{
    float:right;
    font-size:12px;
    color:#666;
}

.content6-more-detail{
    overflow:hidden;
    border-bottom:1px solid #E0E0E0;
    padding:6px 0;
}

.content6-more-detail a{
    display:block;
    height:16px;
    line-height:16px;
    margin:4px 0;
    padding:0 10px;
    border-left:1px solid #e0e0e0;
    white-space:nowrap;
    float:left;
}

.content6-more-detail:last-child{
    border-bottom:0;
}

.banner_more_left_top_list1 a:hover{
    background:#000;
}

.banner_more_left_bottom a:hover{
    color:#C81623;
}

.banner_more_right{
    width:189px;
    float:left;
}

.banner_more_right_top{
    margin:auto;
    width:168px;
    font-size:0;
    overflow:hidden;
}

.banner_more_right_top a{
    width:83px;height:35px;
    margin:0 0 1px 1px;
    background:#e7e7e7;
    display:inline-block;
    overflow:hidden;
    float:left;
}

.banner_more_right_top a img{
    display: block;
    width:100%;height:100%;
    float:left;
}

.banner_more_right_bottom{
    margin:10px auto 0;
    width:168px;
}

.banner_more_right_bottom a{
    display:block;
    margin-bottom:1px;
    height:134px;
    background:#e7e7e7;
}

.banner_more_right_bottom a img{
    display: block;
    width:100%;height:100%;
}

.banner-box-middle{
    width: 790px;
    height: 480px;
    float: left;
}

.banner-box-middle-box{
    width: 790px;
    height: 340px;
    position: relative;
}

ul.banner-box-middle-top{
    width: 790px;
    height: 340px;
    position: absolute;
    top:0;
    left:0;
}

ul.banner-box-middle-top li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    transition: all 1s;
}

ul.banner-box-middle-top li a{
    width: 100%;
    height: 100%;
    transition: all 1s;
}

ul.banner-box-middle-top li img{
    width: 100%;
    height: 100%;
    transition: all 1s;
}

ul.banner-box-middle-top li.banner-active{
    opacity: 1;
    z-index: 10;
}

ul.banner-box-middle-bottom{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

ul.banner-box-middle-bottom li{
    float: left;
}

ul.dot{
    width: 182px;
    height: 20px;
    position: absolute;
    padding: 4px 8px;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 20;
    background: rgba(255,255,255,0.4);
}

ul.dot li{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor:pointer;
}

ul.dot li.dot-active{
    background: #DB192A;
}

.banner-box-right{
    width: 190px;
    height: 480px;
    background: #fff;
    float: right;
}

.banner-leftbtn,.banner-rightbtn{
    width:30px;height:60px;
    background:rgba(0,0,0,0.1);
    position:absolute;
    top:0;bottom:0;
    margin:auto;
    color:#FBFCFC;
    text-align: center;
    line-height: 60px;
    z-index: 200;
    display:none;
    cursor:pointer;
    user-select:none;
}

.banner-leftbtn{
    left:0;
}

.banner-rightbtn{
    right:0;
}

.banner-box-middle-box:hover .banner-leftbtn{
    display: block;
}

.banner-box-middle-box:hover .banner-rightbtn{
    display: block;
}

.banner-leftbtn:hover{
    background:rgba(0,0,0,0.8);
}

.banner-rightbtn:hover{
    background:rgba(0,0,0,0.8);
}

.banner-box-right-top{
    width: 190px;
    height: 116px;
    padding: 0 15px;
    border-bottom: 1px solid #e6e6e6;
}

.banner-box-right-top-top{
    width: 100%;
    height: 75px;
    padding-top: 15px;
}

.banner-box-right-top-top-left{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #C9A65B;
    float: left;
    position: relative;
}

.banner-box-right-top-top-left img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.banner-box-right-top-top-right{
    width: 102px;
    height: 38px;
    float: right;
}

p.welcome{
    width: 100%;
    height: 18px;
    font-size: 12px;
    color: #666666;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
}

p.welcome-bottom{
    height: 16px;
    font-size: 12px;
    margin-top: 5px;
}

p.welcome-bottom a{
    color: #666;
}

.banner-box-right-top-bottom{
    width: 170px;
    height: 24px;
}

.banner-box-right-top-bottom-left,.banner-box-right-top-bottom-right{
    width: 74px;
    height: 100%;
    background: #fff;
    border: 2px solid #E01222;
    font-size: 12px;
    color: #E01222;
    text-align: center;
    line-height: 20px;
    float: left;
}

.banner-box-right-top-bottom a{
    width: 74px;
    height: 100%;
    color: #E01222;
}

.banner-box-right-top-bottom-left{
    margin-right: 10px;
}

.banner-box-right-top-bottom li:hover{
    background: #E01222;

}

.banner-box-right-top-bottom li:hover a{
    color: #fff;
}

.banner-box-right-middle{
    width: 190px;
    height: 154px;
    padding: 0 15px 7px;
}

ul.banner-box-right-middle-top{
    width: 100%;
    height: 27px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}

ul.banner-box-right-middle-top li{
    font-size: 11px;
    color: #333333;
    padding: 0 4px;
    line-height: 27px;
    float: left;
}

.banner-box-right-middle-top a{
    color: #333333;
}

.banner-box-right-middle-top li:nth-child(1){
    border-bottom: 2px solid #E01222;
    padding-right: 12px;
    border-right: 1px solid #e6e6e6;
}

.banner-box-right-middle-top li:nth-child(2){
    margin-left: 10px;
}

.banner-box-right-middle-top li:nth-child(3){
    float: right;
}

ul.banner-box-right-middle-bottom{
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

ul.banner-box-right-middle-bottom li{
    height: 24px;
    font-size: 11px;
    line-height: 24px;
}

ul.banner-box-right-middle-bottom li a{
    color: #666666;
}

.banner-box-right-middle li a:hover{
    color:#E01222;
}

ul.banner-box-right-bottom{
    width: 192px;
    height: 210px;
}

ul.banner-box-right-bottom li{
    width: 48px;
    height: 70px;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    float: left;
    padding-top: 14px;
}

ul.banner-box-right-bottom li:nth-child(4n){
    border-right: 0 solid #e6e6e6;
}

ul.banner-box-right-bottom li a{
    display: block;
    height: 55px;
    font-size: 11px;
    color: #666666;
    text-align: center;
}

ul.banner-box-right-bottom li a:hover{
    color:#E01222;
}

.tu{
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat:no-repeat;
    background-size: 77%;
    margin: 0 12px 5px;
}

.tu1{
    background-size: 70%;
    background-image: url("../img/images/banner_32.png");
}

.tu2{
    background-image: url("../img/images/banner_17.png");
}

.tu3{
    background-image: url("../img/images/jiudian.png");
}

.tu4{
    background-image: url("../img/images/youxi.png");
}

.tu5{
    background-size: 90%;
    background-image: url("../img/images/qiyegou.png");
}

.tu6{
    background-image: url("../img/images/jiayouka.png");
}

.tu7{
    background-image: url("../img/images/dianyingpiao.png");
}

.tu8{
    background-size: 60%;
    background-image: url("../img/images/huochepiao.png");
}

.tu9{
    background-image: url("../img/images/zhongchou.png");
}

.tu10{
    background-image: url("../img/images/licai.png");
}

.tu11{
    background-image: url("../img/images/lipinka.png");
}

.tu12{
    background-size: 70%;
    background-image: url("../img/images/baitiao.png");
}

.jdms{
    width: 1190px;
    height: 305px;
    margin:0 auto;
}

.jdms-top{
    width: 100%;
    height: 55px;
    background: url("../img/jdms-top.png") center center no-repeat;
    background-size: 100%;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.jdms-top-jiao{
    width: 28px;
    height: 28px;
    background-image: url("../img/sprite_index@1x.png");
    background-position: -190px -48px;
    background-size: 218px 188px;
    background-repeat:no-repeat;
    position: absolute;
    left:-4px;
    top:-4px;
}

.jdms-top-clock{
    width: 34px;
    height: 40px;
    background-image: url("../img/sprite_index@1x.png");
    background-position: 0 -40px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 30px;
    float: left;
}

.jdms-top-zi{
    height: 40px;
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    line-height: 40px;
    padding-top: 9px;
    float: left;
}

.jdms-top a{
    height: 14px;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    margin-left: 12px;
    margin-top: 20px;
    float: left;
}

.jdms-top-jiantou{
    width: 15px;
    height: 16px;
    background-image: url("../img/sprite_index@1x.png");
    background-position: -154px -40px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    margin-top: 3px;
    margin-left: 4px;
    float: right;
}

.jdms-top-right{
    width: 269px;
    height: 55px;
    margin-right: 10px;
    float: right;
}

.dqcc{
    font-size: 14px;
    line-height: 45px;
    padding-top: 10px;
    float: left;
    color: #fff;
}

.jdms-top-time{
    margin-left: 6px;
    margin-right: 8px;
    float: left;
}

.time-hour,.time-minute,.time-second{
    width: 35px;
    height: 37px;
    background: #440106;
    font-size: 24px;
    color: #f90013;
    font-family: Arial;
    font-weight: 700;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
    margin-top: 10px;
    float: left;
}

.time-dian{
    width: 4px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    margin: 22px 4px 0;
    float: left;
}

.time-dian-top,.time-dian-bottom{
    width: 4px;
    height:4px;
    border-radius: 100%;
    background: #440106;
}

.time-dian-top{
    margin-bottom: 4px;
}

.jdms-bottom{
    width: 1190px;
    height: 250px;
    background: #fff;
    padding: 12px 0 13px;
}

.jdms-bottom-left{
    width: 1000px;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

ul.jdms-bottom-picture{
    width: 6000px;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
}

ul.jdms-bottom-picture li{
    width: 200px;
    height: 225px;
    float: left;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;
    position: relative;
}

ul.jdms-bottom-picture li:nth-child(5n){
    border-right: 0 solid #e7e7e7;
}

ul.jdms-bottom-picture li a{
    display: block;
    outline: 0;
}

ul.jdms-bottom-picture li a img{
    width: 130px;
    height: 130px;
    margin: 17px 0;
    vertical-align: middle;
}

.jdms-bottom-picture-name{
    display: block;
    width: 100%;
    height: 32px;
    font-size: 12px;
    color: #999;
    text-align: left;
    line-height: 16px;
    overflow: hidden;
}

ul.jdms-bottom-picture li a:hover img{
    transform: translateY(-10px);
    transition: all 1s;
}

ul.jdms-bottom-picture li a:hover .jdms-bottom-picture-name{
    color:#C81623;
}

.jdms-bottom-picture-shadow{
    width: 170px;
    height: 20px;
    background-image: url(../img/sprite_index@1x.png);
    background-position: 0 0;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    position: absolute;
    top:130px;
    left: 0;
}

.jdms-bottom-picture_price{
    padding: 3px 0;
    height: 25px;
}

.jdms-bottom-picture_price_new{
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;

}

.jdms-bottom-picture_price_new span{
    color: #f10214;
}

.jdms-bottom-picture_price_new div{
    font-size: 12px;
    font-weight: 300;
    margin-right: 3px;
    font-family: Arial;
}

.jdms-bottom-picture_price_origin{
    font-size: 12px;
    color: #999;
}

.jdms-bottom-picture_price_origin div{
    font-size: 12px;
    font-weight: 400;
    margin-right: 3px;
    font-family: Arial;
}

.jdms-bottom-picture_price_origin span{
    text-decoration: line-through;
}

.jdms-bottom-right{
    width: 180px;
    height: 225px;
    margin-right: 10px;
    float: left;
}

.jdms-bottom-right a{
    display: block;
    width: 180px;
    height: 225px;
}

.jdms-bottom-right a img{
    width: 180px;
    height: 225px;
}

.content2{
    width: 1190px;
    height: 444px;
    margin:0 auto;
    margin-top: 30px;
}

.content2-left{
    width: 390px;
    height: 100%;
    margin-right: 10px;
    float: left;
}

.content2-left-top{
    width: 100%;
    height: 55px;
    background: #4998a1;
    background-image: linear-gradient(90deg,#4998a1,#2e828b);
    padding: 0 20px 0 30px;
    line-height: 55px;
    color: #fff;
    position: relative;
}

.content2-left-top-jiao1{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 19px solid #f6f6f6;
    border-right: 19px solid transparent;
}

.content2-left-top-jiao{
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #4998a1  transparent transparent;
    position: absolute;
    top: -3px;
    left: -17px;
    z-index: 10;
    transform: rotate(45deg);
    transform-origin: right bottom;
}

.content2-left-top-left{
    height: 40px;
    font-size: 26px;
    color:#fff;
    font-weight: 400;
    line-height: 40px;
    padding-top: 9px;
    float: left;
}

.content2-left-top-right{
    position: relative;
    float: right;
    margin-top: 19px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}

ul.content2-left-bottom{
    width: 390px;
    height: 389px;
    padding: 10px;
    background: #fff;
}

ul.content2-left-bottom li{
    width: 185px;
    height: 121px;
    float: left;
    border-bottom:1px solid #e7e7e7;
}

ul.content2-left-bottom li:nth-child(2n){
    border-left: 1px solid #e7e7e7;
}

ul.content2-left-bottom li.no-border{
    border-bottom:0 solid #e7e7e7;
}

ul.content2-left-bottom li a{
    display: block;
    width: 185px;
    height: 120px;
    position: relative;
}

.content2-left-bottom-title{
    width: 80px;
    line-height: 20px;
    font-size: 14px;
    color: #4998a1;
    position: absolute;
    top:15px;
    left: 20px;
}

ul.content2-left-bottom li a img{
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom:5px;
    right:10px;
}

ul.content2-left-bottom li a:hover img{
    transform: translateX(-10px);
    transition: all 1s;
}

.content2-middle-top{
    background: #76488e;
    background-image: linear-gradient(90deg,#76488e,#662d72);
}

.content2-left-middle-jiao{
    border-color: transparent #76488e  transparent transparent;
}

.content2-middle-bottom{
    width: 390px;
    height: 389px;
    padding-top: 1px;
    background: #fff;
    position: relative;
}

.content2-middle-bottom-move{
    position: absolute;
    top:0;left:0;
    opacity: 0;
    z-index: 1;
    transition:all 1s;
}

.content2-middle-bottom-active{
    opacity:1;
    z-index: 10;
}

.content2-middle-bottom a{
    display: block;
    width: 360px;
    height: 159px;
    margin: 0 15px 18px;
    padding-top: 18px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

.content2-middle-bottom a p{
    font-size: 14px;
    line-height: 16px;
    color: #666;
    text-indent:10px;
    text-align: left;
}

.content2-middle-bottom a img{
    display: block;
    width: 110px;
    margin: 0 5px;
    vertical-align: top;
    float: left;
    line-height: 110px;
    margin-top: 10px;
}

.fengexian{
    width: 330px;
    height: 1px;
    margin: auto;
    background: #eee;
}

ul.content2-bottom-dot{
    width: 55px;
    line-height: 10px;
    position: absolute;
    left: 0;
    right:0;
    bottom:15px;
    margin:auto;
    z-index: 10;
}

ul.content2-bottom-dot li{
    width: 8px;
    height: 8px;
    margin-right: 7px;
    background: #c8c8c8;
    border-radius: 50%;
    float: left;
}

ul.content2-bottom-dot li.content2-bottom-dot-active{
    background: #e01222;
}

.content2-leftbtn,.content2-rightbtn{
    width:20px;height:50px;
    background:#f3f2f3;
    color:#797173;
    text-align: center;
    line-height:50px;
    position:absolute;
    top:0;bottom:0;
    margin:auto;
    opacity: 0;
    z-index: 10;
    cursor:pointer;
    user-select:none;
}

.content2-leftbtn{
    left:0;
}

.content2-rightbtn{
    right:0;
}

.content2-middle-bottom:hover .content2-leftbtn{
    opacity: 1;
}

.content2-middle-bottom:hover .content2-rightbtn{
    opacity: 1;
}

.content2-right{
    margin: 0;
}

.content2-right-top{
    background: #e77005;
    background-image: linear-gradient(90deg,#e77005,#e45d04);
}

.content2-left-right-jiao{
    border-color: transparent #e77005  transparent transparent;
}

.content2-right-bottom{
    width: 390px;
    height: 389px;
    background: #fff;
    position: relative;
}

ul.content2-right-bottom-top{
    width: 370px;
    height:32px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e7e7;
    font-size: 0;
    padding: 6px 0 7px;
    white-space:nowrap;
    overflow: hidden;
    position: relative;
}

ul.content2-right-bottom-top li{
    width: 77px;
    height:auto;
    font-size:14px;
    line-height: 18px;
    border-right: 1px solid #d2d1d1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

ul.content2-right-bottom-top li:first-child{
    margin-left: -10px;
}

ul.content2-right-bottom-top li:last-child{
    margin-right: -10px;
    border-right: 0;
}

ul.content2-right-bottom-top li a{
    display: block;
    width: 77px;
    color: #666666;
}

.content2-active-line{
    width: 58px;
    height: 2px;
    background: #f10214;
    position: absolute;
    top: 30px;
    left: 10px;
}

ul.content2-right-bottom-bottom{
    width: 390px;
    height: 355px;
    padding: 10px;
}

ul.content2-right-bottom-bottom li{
    width: 123px;
    height: 167px;
    float: left;
    text-align: center;
    position: relative;
}

ul.content2-right-bottom-bottom li a{
    display: block;
    padding: 12px 0;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
    font-size: 11px;
    color: #666;
}

.xuhao1,.xuhao2,.xuhao3,.xuhao4{
    position: absolute;
    top: 12px;
    left: 11px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
}

.xuhao1{
    background-image: url(../img/sprite_index@1x.png);
    background-position: -104px -40px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}

.xuhao2{
    background-image: url(../img/sprite_index@1x.png);
    background-position: -50px -100px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}

.xuhao3{
    background-image: url(../img/sprite_index@1x.png);
    background-position: 0 -100px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}

.xuhao4{
    background-image: url(../img/sprite_index@1x.png);
    background-position: -100px -100px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}

ul.content2-right-bottom-bottom li a img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

ul.content2-right-bottom-bottom li a .top_name{
    height: 32px;
    text-align: left;
    padding: 0 11px;
    line-height: 16px;
    overflow: hidden;
}

ul.content2-right-bottom-bottom li a:hover .top_name{
    color:#C81623;
}

.content3{
    width: 1190px;
    height: 215px;
    margin: 0 auto;
    margin-top: 30px;
}

.content3-left{
    width: 190px;
    height: 215px;
    float: left;
    background: #ea3524;
}

.content3-left a{
    display: block;
    width: 190px;
    height: 165px;
    padding: 25px;
    color: #fff;
}

.content3-left h3{
    width: 100%;
    height: 36px;
    font-size: 30px;
    color: #fff;
    line-height: 36px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.hengxian{
    display: block;
    width: 55px;
    height: 3px;
    margin-top: 8px;
    margin-bottom: 20px;
    background: #fff;
}

.content3-left-text1,.content3-left-text2{
    width: 100%;
    height: 20px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content3-left-btn{
    display: block;
    height: 30px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    margin-top: 20px;
    padding: 2px 35px 4px 15px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
}

.content3-jiantou{
    position: absolute;
    top:1px;
    right:15px;
}

ul.content3-right{
    width: 1000px;
    height: 215px;
    float: left;
    padding: 10px 0;
    background: #fff;
}

ul.content3-right li{
    width: 199px;
    height: 195px;
    float: left;
    border-right: 1px solid #e7e7e7;
    overflow: hidden;
    position: relative;
}

ul.content3-right li:last-child{
    border-right: 0 solid #e7e7e7;
}

ul.content3-right li a{
    display: block;
    width: 100%;
    height:100%;
    position: relative;
}

.content3-right-left{
    width: 100px;
    height: 180px;
    border-top: 3px solid #e93524;
    background: #fff;
    position: absolute;
    left: 15px;
    top:15px;
    z-index: 1;
}

p.content3-right-left-price{
    overflow: hidden;
    margin-top: 7px;
    height: 36px;
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
    color: #F10214;
}

p.content3-right-left-price span{
    line-height: 36px;
    font-size: 34px;
    font-weight: 700;
}

span.content3-right-left-text1{
    overflow: hidden;
    margin: 3px;
    height: 36px;
    line-height: 18px;
    font-size: 11px;
    color: #e93524;
}

.content3-right-left-text2{
    overflow: hidden;
    padding: 15px 10px;
    width: 100px;
    height: 66px;
    background: #e7e7e7 url(../img/content3-background.jpg) repeat-x 0 0;
    font-size: 11px;
    color: #666;
}

p.content3-right-left-more{
    overflow: hidden;
    width: 100%;
    height: 26px;
    background: #e93524;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #fff;
}

.content3-right-right{
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 25px;
    width: 140px;
    height: 140px;
}

ul.content3-right li a:hover .content3-right-right{
    transform: translateX(10px);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.content4{
    width: 100%;
    height: 100px;
    background: #e0e0e0;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

ul.content4-box{
    width: 1190px;
    height: 100%;
    margin:0 auto;
}

ul.content4-box li{
    width: 396px;
    height: 100%;
    float: left;
    position: relative;
}

ul.content4-box li a{
    display: block;
    width: 396px;
    height: 100%;
}

ul.content4-box li a img{
    display: block;
    width: 396px;
    height: 100%;
}

.mask{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    display: none;
    position: absolute;
    left:0;
    top:0;
}

ul.content4-box li a:hover .mask{
    display: block;
}

.content5{
    width: 1190px;
    height: 585px;
    margin:0 auto;
    margin-bottom: 30px;
}

.content5-top{
    width: 100%;
    height: 55px;
    padding: 0 0 20px;
    background: url("../img/content5-dian.png") repeat-x 0 18px;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    overflow: hidden;
    float: left;
}

.content5-top h3{
    display: inline-block;
    font-size: 26px;
    font-weight: 200;
    color: #333;
    padding: 0 50px;
    background: #f6f6f6;
}

ul.content5-bottom{
    width: 1200px;
    height: 530px;
    float: left;
    margin-left: -10px;
    overflow: hidden;
}

ul.content5-bottom>li{
    width: 390px;
    height: 170px;
    float: left;
    margin: 0 0 10px 10px;
    position: relative;
}

ul.content5-bottom>li>a{
    display: block;
    width: 390px;
    height: 170px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

ul.content5-bottom>li>a:hover img{
    transform: translateX(-5px);
    transition: all 0.5s;
}

.content5-bottom-left{
    width: 36%;
    height: 170px;
    background: #59b047;
    float: left;
    position: absolute;
    top: 0;
    left:0;
    z-index: 10;
}

.content5-bottom-info{
    width: 100px;
    margin: 0 auto;
    padding-top: 45px;
    font-size: 14px;
}

h4.content5-bottom-left-title{
    width: 100%;
    height: 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 22px;
    color:#F5FAF7;
    text-align: center;
    line-height: 40px;
    font-weight: 400;
    overflow: hidden;
}

p.content5-bottom-left-desc{
    height: 32px;
    margin-top: 8px;
    color:#F5FAF7;
}

.content5-bottom-right{
    display: block;
    width: 390px;
    height: 170px;
    position: absolute;
    left:0;
    top:0;
}

ul.content5-bottom li.content5-bottom-right-right{
    width: 390px;
    height: 350px;
    float: right;
    overflow: hidden;
    position:relative;
}

.jdzb-box{
    width:100%;height:38px;
    background:rgba(0,0,0,0.57);
    position:absolute;
    left:0;top:0;
    padding-left:24px;
    padding-right:20px;
    z-index: 10;
}

.jdzb{
    display:block;
    font-size:16px;
    color:#fff;
    line-height:38px;
    font-weight:400;
    float:left;
}

.gd-box{
    height:38px;
    line-height:38px;
    color:#fff;
    float:right;
}

.gd{
    font-size:12px;
    color:#fff;
    float:left;
}

.content5-more{
    width:15px;height:16px;
    background-image:url("../img/sprite_index@1x.png");
    background-position:-205px -128px;
    background-size:237px 170px;
    background-repeat: no-repeat;
    float:right;
}

.content5-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition:all 1s;
}

.content5-cactive{
    opacity: 1;
    z-index: 2;
}

.live-cover{
    height: 350px;
    margin-left: -38px;
    position:absolute;
    left:0;top:0;
}

.content5-mask{
    width:100%;height:100%;
    position:absolute;
    left:0;top:0;
    background:rgba(0,0,0,0.3);
}

.text-box{
    width:100%;height:18px;
    text-align:center;
    line-height:18px;
    font-size:18px;
    color:#fff;
    position:absolute;
    left:0;bottom:60px;
}

.content5-text1{
    color:#fff;
}

.content5-text2{
    display:block;
    width:100%;height:12px;
    font-size:12px;
    color:#fff;
    text-align: center;
    line-height:12px;
    position: absolute;
    left:0;bottom:40px;
}

.content5-play{
    width:65px;height:65px;
    background:rgba(255,255,255,0.4);
    border-radius: 50%;
    position:absolute;
    left:0;right:0;
    top:0;bottom:0;
    margin:auto;
    z-index: 15;
}

div.icon-sanjiaoxing-kong{
    width:21px;height:26px;
    position:absolute;
    left:0;right:0;
    top:0;bottom:0;
    margin:auto;
    font-size:26px;
    color:#fff;
}

ul.content5-dot{
    width:72px;height:8px;
    position:absolute;
    left:0;right:0;
    bottom:15px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

ul.content5-dot li{
    width:8px;height:8px;
    background:#fff;
    border-radius: 50%;
}

ul.content5-dot li.content5-active{
    background:#FD3131;
}

.content5-leftbtn,.content5-rightbtn{
    width:20px;height:50px;
    background:rgba(0,0,0,0.4);
    position:absolute;
    top:0;bottom:0;
    margin:auto;
    text-align:center;
    line-height:50px;
    color:#fff;
    z-index: 5;
}

.content5-leftbtn{
    left:0;
}

.content5-rightbtn{
    right:0;
}

ul.content5-bottom li.content5-bottom-list8{
    width: 190px;
    height: 170px;
    float: left;
    margin: 0 0 10px 10px;
}

ul.content5-bottom li.content5-bottom-list8 a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.content5-bottom-bottom{
    width: 190px;
    height: 84px;
    padding-top: 0;
    padding: 10px 0 0;
    text-align: center;
    font-size: 14px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: 10;
    background: rgba(110,53,110,0.9);
}

.content5-bottom-bottom-info{
    width: 100px;
    height: 84px;
    margin: 0 auto;
}

.content5-bottom-top{
    display: block;
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    top:0;
}

.content6-bottom{
    width: 1190px;
    height: auto;
    margin:0 auto;
}

.content6-bottom-list1{
    width: 590px;
    height: 523px;
    float: left;
}

.content6-bottom-list1-left{
    width: 100%;
    height: 100%;
    float: left;
}

.content6-bottom-list1-left-top{
    width: 100%;
    height: 58px;
    background-image: linear-gradient(90deg,#974676,#9e4075);
    padding: 16px 20px 16px 25px;
}

.content6-bottom-list1-left-top h3{
    float: left;
    font-size: 22px;
    color: #fff;
    height: 26px;
    line-height: 30px;
    font-weight: 400;
    max-width: 100px;
    font-family: fzzhengheis-el-gbregular;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content6-ewm{
    float: left;
    position: relative;
    width: 20px;
    height: 32px;
    z-index: 10;
    margin-left: 15px;
    padding-top: 3px;
    background: url(../img/pt_qrcode@1x.png) center center no-repeat;
    background-size: 20px 20px;
}

ul.content6-bottom-top-right{
    height: 28px;
    text-align: center;
    overflow: hidden;
    float: right;
    display: flex;
    justify-content:space-between;
}

ul.content6-bottom-top-right li{
    background-color: hsla(0,0%,100%,.2);
    font-size: 12px;
    color: #fff;
    height: 24px;
    line-height: 20px;
    padding: 0 10px;
    border: 1px solid #c187af;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.content6-bottom-top-right li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

ul.content6-bottom-top-right li:hover{
    border:1px solid #fff;
}

.content6-bottom-list1-left-bottom{
    width: 100%;
    height: 465px;
    padding: 10px;
    background: #fff;
    position:relative;
}

.content6-bz{
    width: 100%;
    height: 400px;
}

.content6-bottom-list1-left-bottom-left{
    width: 183px;
    height: 260px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #f7f7f7;
    float: left;
}

.content6-bottom-list1-left-bottom-left a{
    display: block;
    width: 100%;
    height: 100%;
}

.content6-bottom-list1-left-bottom-left a img{
    display: block;
    width: 100%;
    height: 100%;
}

ul.content6-bottom-list1-left-bottom-right{
    float: left;
    width: 376px;
    height: 260px;
    position: relative;
    overflow: hidden;
}

ul.content6-bottom-list1-left-bottom-right li{
    position: relative;
    float: left;
    width: 188px;
    height: 130px;
}

.content6-title{
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 14px;
    color: #974676;
    max-width: 130px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
}

.content6-proto{
    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 12px;
    color: #666;
    max-width: 50px;
    z-index: 1;
}

ul.content6-bottom-list1-left-bottom-right li img{
    position: absolute;
    bottom: 10px;
    right: 5px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
}

ul.content6-bottom-list2{
    width: 100%;
    height: 130px;
    margin-top: 10px;
    float: left;
}

ul.content6-bottom-list2 li{
    float: left;
    width: 183px;
    height: 130px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #f7f7f7;
}

ul.content6-bottom-list2 li:nth-child(3){
    margin-right: 0;
}

ul.content6-bottom-list2 li a{
    display: block;
    width: 100%;
    height: 100%;
}

.content6-fr-box{
    width:100%;
    height: 35px;
    overflow: hidden;
    margin-top: 10px;
    float:left;
}

ul.content6-fr{
    width: 1140px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    transition:all 1s;
}

ul.content6-fr li{
    float: left;
    border-right: 1px solid #dedfe0;
    padding: 0 12px;
    height: 20px;
    margin-top: 7px;
}

ul.content6-fr1 li{
    padding: 0 14px;
}

ul.content6-fr li a{
    display: block;
    width: 100%;
    height: 100%;
}

ul.content6-fr li a img{
    display: block;
    width: 70px;
    height: 35px;
    margin-top: -7px;
}

/*ul.content6-fr li:nth-child(6n){
    border-right: 0 solid #dedfe0;
}*/

.content6-leftbtn,.content6-rightbtn{
    position:absolute;
    bottom:19px;
}

div.content6-leftbtn{
    left:5px;
    font-size:12px;
}

div.content6-rightbtn{
    right:5px;
    font-size:12px;
}

.content6-leftbtn:hover{
    color: #0b117e;
}

.content6-rightbtn:hover{
    color: #07487e;
}

.content6-bottom-list2{
    width: 1190px;
}

.content6-bottom-list2-left-top{
    background: #C93559;
    background-image: linear-gradient(90deg,#cd375e,#c1314d);
}

ul.content6-bottom-top2-right li{
    border:1px solid #de7b95;
}


.content6-bottom-list3-left-top{
    background: #734E8B;
    background-image: linear-gradient(90deg,#78538e,#674083);
}

ul.content6-bottom-top3-right li{
    border:1px solid #9e84b1;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list4-left-top{
    background-color: #5e6c90;
    background-image: linear-gradient(90deg,#5e6c90,#4c5e8c);
}

ul.content6-bottom-top4-right li{
    border-color: #94a1c0;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list5-left-top{
    background-color: #488bad;
    background-image: linear-gradient(90deg,#488bad,#337e8d);
}

ul.content6-bottom-top5-right li{
    border-color: #77b6c3;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list6-left-top{
    background-color: #3aaba9;
    background-image: linear-gradient(90deg,#3aaba9,#299b9a);
}

ul.content6-bottom-top6-right li{
    border-color: #6fcfce;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list7-left-top{
    background-color: #568e7d;
    background-image: linear-gradient(90deg,#568e7d,#447e6c);
}

ul.content6-bottom-top7-right li{
    border-color: #79aa9e;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list8-left-top{
    background-color: #eeb924;
    background-image: linear-gradient(90deg,#eeb924,#e49433);
}

ul.content6-bottom-top8-right li{
    border-color: #f9d661;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list9-left-top{
    background-color: #e16c46;
    background-image: linear-gradient(90deg,#e16c46,#e85629);
}

ul.content6-bottom-top9-right li{
    border-color: #ef9f81;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list10-left-top{
    background-color: #a56741;
    background-image: linear-gradient(90deg,#a56741,#925937);
}

ul.content6-bottom-top10-right li{
    border-color: #c19369;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list11-left-top{
    background-color: #756059;
    background-image: linear-gradient(90deg,#756059,#684c44);
}

ul.content6-bottom-top11-right li{
    border-color: #9e8a84;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list12-left-top{
    background-color: #865454;
    background-image: linear-gradient(90deg,#865454,#7e3b3c);
}

ul.content6-bottom-top12-right li{
    border-color: #b48787;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list13-left-top{
    background-color: #6467a0;
    background-image: linear-gradient(90deg,#6467a0,#544b8f);
}

ul.content6-bottom-top13-right li{
    border-color: #9598cd;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list14-left-top{
    background-color: #5981a3;
    background-image: linear-gradient(90deg,#5981a3,#41698b);
}

ul.content6-bottom-top14-right li{
    border-color: #82a5bc;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list15-left-top{
    background-color: #5a7259;
    background-image: linear-gradient(90deg,#5a7259,#425f41);
}

ul.content6-bottom-top15-right li{
    border-color: #78977a;
    background-color: hsla(0,0%,100%,.2);
}

.content6-bottom-list3{
    width: 390px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul.content6-bottom-list3-left-bottom-right{
    width: 177px;
    padding: 0;
}

ul.content6-bottom-list2 li img{
    width: 183px;
    height: 130px;
}

.content6-bz a img:hover{
    transform: translateX(-5px);
    transition: all .5s;
}


.content7{
    width: 100%;
    height: auto;
    float: left;
}

.content7-box{
    height: 195px;
}

ul.content7-bottom{
    width: 1200px;
    height: 140px;
    margin-left: -5px;
    float: left;
}

ul.content7-bottom li{
    width: 160px;
    height: 140px;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 0 10px 10px;
    background-color: #fff;
}

ul.content7-bottom li a{
    color: #fff;
}

ul.content7-bottom li img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
}

.content7-bottom-bottom{
    /*padding-top: 0;*/
    width: 100%;
    padding: 10px 0 13px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom:0;
    z-index: 10;
    background: #916C57;
    color:#fff;
}

.content7-bottom-title{
    font-size: 18px;
    height: auto;
    border-top: 0;
    border-bottom: 0;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    color:#fff;
}

.content7-bottom-desc{
    font-size: 12px;
    line-height: 16px;
    padding: 0 10px;
    margin-top: 0;
    height: auto;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#fff;
}

.content7-bottom-bottom2{
    background: rgba(126,98,133,.9);
}

.content7-bottom-bottom3{
    background: rgba(206,64,64,.9);
}

.content7-bottom-bottom4{
    background: rgba(83,154,111,.9);
}

.content7-bottom-bottom5{
    background: rgba(220,105,79,.9);
}

.content7-bottom-bottom6{
    background: rgba(94,144,182,.9);
}

.content7-bottom-bottom7{
    background: rgba(194,170,10,.9);
}

.content8{
    width: 100%;
    height: auto;
    float: left;
}

.content8-box{
    height: auto;
}

.content8-bottom{
    width: 1190px;
    height: auto;
}

ul.content8-bottom-lists{
    width: 1200px;
    height: 100%;
    margin-left: -10px;
    overflow: hidden;
}

ul.content8-bottom-lists li{
    width: 230px;
    height: 315px;
    float: left;
    margin: 0 0 10px 10px;
}

ul.content8-bottom-lists li a{
    display: block;
    width: 230px;
    height: 315px;
    padding: 4px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #666666;
    text-align: center;
    overflow: hidden;
}

ul.content8-bottom-lists li a:hover{
    border:1px solid #f00;
}

ul.content8-bottom-lists li a:hover .content8-more-info{
    color: #C81623;
}

ul.content8-bottom-lists li a img{
    display: inline-block;
    width: auto;
    height: 220px;
    background-color: #f7f7f7;
}

.content8-more-info{
    padding: 10px;
    text-align: left;
}

.content8-more-info-name{
    font-size: 12px;
    overflow: hidden;
    margin-bottom: 5px;
    height: 35px;
}

.content8-more-info-price{
    font-size: 12px;
    color: #f10214;
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
}

.content8-more-info-price .more_info_price_txt{
    color: #f10214;
}

ul.content8-bottom-lists li a:hover .content8-more-info-name{
    color: #f10214;
}

footer{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #EAEAEA;
    float: left;
}

.footer-box{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}

.footer-service{
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}

.footer-service-box{
    margin: 0 auto;
    width: 1190px;
}

ul.footer-service-box-list{
    overflow: hidden;
    height: 42px;
}

ul.footer-service-box-list li{
    float: left;
    width: 297px;
}

.footer-service-unit{
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    width: 225px;
}

.footer-service-unit-left{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    background-image: url(../img/ico_service.png);
    text-indent: -999px;
}

.footer-service-unit-title1{
    background-position: 0 0;
}

.footer-service-unit-title2{
    background-position: 0 -43px;
}

.footer-service-unit-title3{
    background-position: 0 -86px;
}

.footer-service-unit-title4{
    background-position: 0 -129px;
}

.footer-service-text{
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}

.footer-help{
    width: 100%;
    height: 200px;
    border-top: 1px solid #DEDEDE;
    padding: 20px 0;
}

.footer-help-box{
    width: 1190px;
    height: 160px;
    margin: 0 auto;
}

ul.footer-list{
    float: left;
    width: 198px;
    line-height: 22px;
}

ul.footer-list li{
    width: 100%;
    height: 22px;
    font-size: 11px;
    color: #666;
}

ul.footer-list li:first-child{
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 5px;
}

ul.footer-list li a{
    color: #666;
}

ul.footer-list li a:hover{
    color: #C81623;
}

.footer-help-cover{
    float: right;
    width: 200px;
    height: 150px;
    background: url(../img/ico_footer.png) no-repeat 0 0;
    font-size: 11px;
    color: #666;
}

.footer-help-cover-title{
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}

.footer-hel-cover-con{
    padding: 0 10px;
}

.footer-help-cover-more{
    text-align: right;
}

.footer-help-cover-more a{
    color: #666;
}

.footer-help-copyright-inner{
    width: 1190px;
    margin: 0 auto;
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
}

.footer-help-copyright-links a{
    font-size: 11px;
    color: #666;
}

.footer-help-copyright-links a:hover{
    color: #C81623;
}

.mod_copyright_split{
    margin: 0 5px;
    color: #ccc;
}

.footer-copyright-info{
    padding: 10px 0;
    line-height: 22px;
    color: #999;
}

.footer-copyright-info a{
    color: #999;
    font-size: 11px;
}

.mod_copyright_license{
    margin-left: 16px;
}

.footer-tu{
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    background-image: url(../img/ico_footer.png);
    line-height: 1000px;
}

.footer-tu1{
    background-position: 0 -151px;
}

.footer-tu2{
    background-position: -104px -151px;
}

.footer-tu3{
    background-position: 0 -184px;
}

.footer-tu4{
    background-position: -104px -184px;
}

.footer-tu5{
    background-position: 0 -217px;
}

.footer-tu6{
    background-position: -104px -217px;
}

.fixleft{
    width: 34px;height:550px;
    position:fixed;
    left:50%;
    bottom:50px;
    margin-left:-650px;
    background:#918888;
    opacity: 0;
    transition: all 1s;
}

.fixleft-hidden{
    opacity: 1;
}

.fixleft li{
    width:33px;height:50px;
    border-bottom:1px solid #B1AAAA;
}

.fixleft li a{
    display: block;
    overflow: hidden;
    width: 100%;height:100%;
    padding: 10px 4px;
    line-height: 14px;
    text-align: center;
    font-size:10px;
    color: #fefefe;
}

.fixleft li a:hover{
    background:#D70B1C;
}

.fixleft li a.bgc{
    background:#D70B1C;
}

.fixleft li a.ac{
    line-height: 26px;
}

.fixleft li a.xn{
    line-height: 26px;
}

.fixleft li a.lefttop:hover{
    background:#918888;
}

.icon-xiajiantou1-copy{
    color: #fefefe;
}

/*右侧导航*/
.rightnav{
    width: 35px;
    /* height: 100px;
    background: red; */
    margin-top: -61px;
    position: fixed;
    top: 50%;
    right: 0;
}

.riglist1{
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background: #7a6e6e;
    border-radius: 3px 0 0 3px;
    z-index: 1;
}
.xhd{
    width: 6px;
    height: 6px;
    background-image: url('../img/toolbars (1).png');
    background-position: -150px -150px;
    position: absolute;
    top: 8px;
    right: 10px;
    display: inline-block;
    z-index: 9;
}
.icon1{
    display: block;
    width: 34px;
    height: 35px;
    margin-left: 1px;
    position: relative;
    z-index: 9;
    /* background-color: red; */
    background-position: -88px -175px;
    background-image: url('../img/toolbars (1).png');

}
.icon2{
    background-position: -50px 0;
}
.icon2{
    background-position: -50px 0;
}
.icon3{
    background-position: -50px -50px;
}
.icon4{
    background-position: -50px -100px;
}
.icon5{
    background-position: -190px -150px;
}
.icon6{
    background-position: -50px -150px;
}
.icon7{
    background-position: -50px -250px;
}
.icon8{
    background-position: -50px -300px;
}
.yincang{
    background: #c81623;
    width: 62px;
    height: 35px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    border-radius: 3px 0 0 3px;
    opacity: 0;
    display: none;
}
@keyframes show{
    0%{
        opacity: 0;
        right: 0;
    }
    100%{
        opacity: 1;
        right: 35px;
    }
}
@keyframes hide{
    0%{
        opacity: 1;
        right: 35px;
    }
    100%{
        opacity: 0;
        right: 0;
    }
}
.show{
    animation: show 0.3s ease-in forwards;
    display: block;
}
.hide{
    animation: hide 0.5s ease-in forwards;
    display: block;
}
.sclootop{
    width: 100%;
    position: fixed;
    left: 0;
    top: -48px;
    border-bottom: 2px solid #f10214;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    transition: all .5s;
}
.scolltop-main{
    width: 1190px;
    height: 48px;
    margin: 0 auto;
    position: relative;
}
.search-logo{
    width: 125px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 4px;
}
.form{
    width: 550px;
    height: 35px;
    position: absolute;
    top: 6px;
    left: 320px;
}
.ss{
    width: 500px;
    height: 35px;
    padding: 4px;
    border: 0;
    border: 1px solid #f10215 ;
    line-height: 25px;
    font-size: 14px;
    border-color: #efefef;
    background-color: #efefef;
    color: #989898;
    position: absolute;
    left: 0;
    top: 0;
}
.btnss{
    width: 50px;
    height: 35px;
    line-height: 35px;
    background: #f10215;
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
}