
	/* 	.protype ul{
			text-align: center;
			width: 40%;
			margin: 0 auto;
		} */
		.protype{
		width: 1200px;
		padding: 0 35px;
		margin: 0 auto;
		background: #650c7a none repeat scroll 0 0;
		}
		.protype ul{
			width: 100%;
			overflow: hidden;
			padding-top: 30px;
			text-align: center;
		}
		.protype ul li{
			color: #3f084d;
			background: #e8b2f9 none repeat scroll 0 0;
			float: left;
			margin-bottom: 21px;
			margin-right: 21px;
			height: 32px;
			line-height: 32px;
			font-size: 16px;
			padding: 0 28px;
		}
		
		.protype ul li:hover{
			background: yellow;
		}
		.jianjie-con{
			width: 1200px;
			overflow: hidden;
			padding: 0 34px 130px 34px;
			margin: 0 auto;
			background: #650c7a;
		}
		.jianjie-con-left{
			width: 356px;
			padding-top: 10px;
			height: 511px;
			background: url('../img/jianjie.png') 100% 100% no-repeat;
			float: left;
		}
		.jianjie-con-right{
			width: 775px;
			overflow: hidden;
			float: right;
			font-size: 14px;
			text-indent: 32px;
			line-height: 32px;
			color: #fff;
		}
		
		.rig1{
			width: 780px;
			height: 86px;
		}
		/* .rig1 img{
			width: 100%;
			height: 100%;
		} */
		.biaozhi{
			width: 775px;
			height: 71px;
			float: left;
			margin-top: 128px;
			text-align: right;
		}